- var idx = feature.filepath.relative.lastIndexOf('/')
- var image_url = '/' + feature.filepath.relative.slice(0,idx) + '/' + feature.metadata.image

.content-area
  .solution-feature
    .row
      .col-sm-2
        img.img-responsive(src=image_url)
      .col-sm-7
        != feature.html
      .col-sm-3
        ul.list-unstyled.feature-list
          each item in feature.metadata.features
            li!= item

