nav#main-dropdown-nav.navbar.navbar-default.navbar-static
  .container
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.js-navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') HOME
      .collapse.navbar-collapse.js-navbar-collapse
        ul.nav.navbar-nav
          li.dropdown.dropdown-large
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | SOLUTIONS
              b.caret
            ul.dropdown-menu.dropdown-menu-large.row
              li.col-sm-6
                ul
                  li.dropdown-header PRODUCTS
                  li
                    a(href='/solutions/analytic-modules.html') Analytic Modules
                  li
                    a(href='/solutions/analytic-methodologies.html') Analytic Methodologies
                  li
                    a(href='/solutions/analytic-platform.html') Analytic Platform
                  li.dropdown-header SERVICES
                  li
                    a(href='/solutions/strategic-consulting-services.html') Strategic Consulting Services
                  li
                    a(href='/solutions/data-enrichment-services.html') Data Enrichment Services
                  li
                    a(href='/solutions/predictive-insights.html') Predictive Insights
              li.col-sm-6
                p: img(src=contents.images.menu['solutions-menu.jpg'].url)
                p Classify and place patients into accurate clinical and financial risk categories.
          li
            a.dropdown-toggle(href='/news.html')
              | NEWS
              //- b.caret
          li
            a.dropdown-toggle(href='/events.html')
              | EVENTS
              //- b.caret
          li
            a.dropdown-toggle(href='/resources.html')
              | RESOURCES
              //- b.caret
          li.dropdown.dropdown-large
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | ABOUT
              b.caret
            ul.dropdown-menu.dropdown-menu-large.about.row
              li.col-sm-6
                ul
                  li.dropdown-header ABOUT
                  li
                    a(href='/about/overview.html') Overview
                  li
                    a(href='/about/our-team.html') Our Team
                  li
                    a(href='/about/partnerships.html') Partnerships
                  li
                    a(href='/about/clients.html') Clients
                  li
                    a(href='/about/careers.html') Careers
              li.col-sm-6
                p: img(src=contents.images.menu['about-menu.jpg'].url)
                p Leverage and turn vast amounts of data into actionable business insights.
          li
            a.dropdown-toggle(href='/contact.html')
              | CONTACT
              //- b.caret
