extends layout

block title
  //- var content = contents['contact-content.md']
  //- var content = contents['about']['overview.md']
  - var content = '';
  - if (typeof locals.page.metadata.sub_dir !== "undefined") {
  -   if (typeof locals.page.metadata.sub_dir2 !== "undefined") {
  -     content = contents[locals.page.metadata.sub_dir][locals.page.metadata.sub_dir2][locals.page.metadata.content_file]
  -   } else {
  -     content = contents[locals.page.metadata.sub_dir][locals.page.metadata.content_file]
  -   }
  - } else {
  -   content = contents[locals.page.metadata.content_file]
  - }
  - var page_id = locals.page.metadata.content_file.split('.')[0];
  - var classes = '';
  - if (typeof locals.page.metadata.classes !== "undefined") {
  -   classes = locals.page.metadata.classes
  - }
  = content.title
  |  | 
  = locals.name
  
block content
  div(id= page_id class= classes)
    .container
      .content-area
        //ul
        //  each val, index in locals
        //    li= index + ': ' + val    
        //ul
        //  each val, index in locals.page.metadata
        //    li= index + ': ' + val    
        != content.html
