extends layout

block title
  - var content = contents['about']['clients.md']
  = content.title + ' | ' + locals.name  
block content
  #about
    .container
      .content-area
        h1= content.title
        #clients
          .col-sm-6
            img(src='/about/clients/NewDirections-logo.jpg')
          .col-sm-6
            img(src='/about/clients/bcbs-kc-logo.jpg')
          .col-sm-6
            img(src='/about/clients/healthyFit-logo.jpg')
          .col-sm-6
            img(src='/about/clients/TopazSharedServices-logo.jpg')
        != content.html
