extends layout

block title
  | Home | 
  = locals.name

block content
  #home-index
    .container
      .content-area
        #home-rotator.carousel.slide(data-ride='carousel')
          - var rotators = _.chain(contents.home.rotators._.pages).sortBy(function(item) {
          //-   var match = item.filepath.relative.match(/rotators[\/](\d+)-.*?\.md$/);
          -   var match = item.filepath.relative.match(/rotators.(\d+)-.*?\.md$/);
          -   return parseInt(match[1]);
          - }).value();
          ol.carousel-indicators
            each val, index in rotators
              //li= index + ': ' + val
              if (index > 0)
                li(data-target='#home-rotator', data-slide-to=index)
              else
                li.active(data-target='#home-rotator', data-slide-to=index)
          //
            ol.carousel-indicators
              li.active(data-target='#home-rotator', data-slide-to='0')
              li(data-target='#home-rotator', data-slide-to='1')
              li(data-target='#home-rotator', data-slide-to='2')
          .carousel-inner
            each rotator, index in rotators
              include partials/home-rotator

          a.left.carousel-control(href='#home-rotator', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#home-rotator', data-slide='next')
            span.glyphicon.glyphicon-chevron-right



      #home-about-us-columns.content-area
        .hpadded
          .row
            .col-sm-6
              != contents.home['about-col-left.md'].html
            .col-sm-6
              != contents.home['about-col-right.md'].html

      #home-solutions-overview.content-area
        .row
          - var solutions = contents.home.solutions._.pages
          each solution in solutions
            include partials/home-solution

      #home-articles-and-events.content-area
        .row
          #home-articles.col-sm-6
            article!= contents.home.articles['article-1.md'].html
            article!= contents.home.articles['article-2.md'].html
          #home-events.col-sm-6
            h3 Highlighted Events
            - var events = _.chain(contents.home.events._.pages).sortBy(function(item) {
            //-   var match = item.filepath.relative.match(/events[\/](\d+)-(\w+?)\.md$/)
            -   var match = item.filepath.relative.match(/events.(\d+)-(\w+?)\.md$/)
            -   return parseInt(match[1]);
            - }).value();
            .event
              each event in events
                include partials/event
