extends layout

block title
  - var subdir_page = page.filepath.relative.split('/')
  - var subdir = subdir_page[0]
  - var cfname = subdir_page[1].split('.')[0]
  - var content = contents[subdir][cfname + '.md']
  - var callout = contents[subdir][cfname + '-callout.md']

  - var features = _.chain(contents[subdir][cfname]._.pages).sortBy(function(item) {
  -   var ptn = RegExp(subdir + '/' + cfname + '/' + '(\\d+)-.*')
  -   var match = item.filepath.relative.match(ptn)
  -   return parseInt(match[1]);
  - }).value();

  = content.title + ' | ' + locals.name


block content
  div(id='solutions-' + cfname)
    .container
      .content-area
        h1= content.title
        - if (typeof callout !== 'undefined')
          .row
            .col-sm-8!= content.html
            .col-sm-4
              .callout!= callout.html
        - else
          != content.html

      #solution-features
        each feature in features
          include partials/solution-feature
